*{margin:0;padding:0;

font-family: }
 


.header
{
  background:url('background.jpg');
  background-position:bottom center;
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
}
 .block
 {
   padding-top:7vw;

 }
 .block h1
 {
   font-size:50px;
 }
 .block h3{
   font-weight:lighter;
   margin-left:5px;
   margin-top:10px;
   font-size:15px;
   font-family:"open_sanslight",Arial,sans-serif;
 }

 .block .container .row
 {
   padding-bottom:10vw;
 }
.logo
{
  position:absolute;
  top:-60px;
  left:44%;;
  width:170px;
  height:170px;
  margin:0 auto;
  border:10px solid #ffffff;
  box-shadow:0 1px 1px;
  background:url('1.jpg');
  background-size:cover;
  background-position:bottom center;
  border-radius:50%;
  z-index:10;
}


.block .btn.btn-default
{
  padding:7px 45px;
  border-radius:23px;
  border:none;
  color:white;
  background:#199cdb;
}
.block .btn.btn-default:hover
{
  color:#199cdb;
  background-color:white;
}
.block .btn.btn-default i
{
  margin-right:7px;
}

.menu li a{
  padding:20px 30px;
  height:100%;
  border:1px solid #cecaca;
  border-bottom:none;
}

.block p a{
  text-decoration:none;
}
.menu .navbar-default
{
  border-top:none;
}

.menu li a i
{
  color:#199cdb;
}

@media (max-width: 768px)
{
  .logo{
    display:none;
  }

  .block p{
    display:none;
  }

  .menu li a{
    padding:10px 0;
  height:100%;
  border:none;
}
  
}

.icon
{
  width:50px;
  float:left;
  margin-right:20px;
  margin-top:10px;
}

.about .col-md-4
{
  padding:30px;
  padding-left:40px;
}
.about h2{
  margin-bottom:30px;
}
.about .col-md-4 hr
{
  width:30px;
  border-top:3px solid #199cdb;
}

.about .col-md-4 .btn{
  margin-top:20px;
  border:2px solid #199cdb;
  color:#199cdb;
  border-radius:20px;
  padding:10px 20px;
}

.about .col-md-4 .btn:hover
{
  background-color:199cdb;
  color:white;
}



p{
  margin-bottom:7px;
  font-size:15px;
  color:gray;
}
.icon-list li
{
  display:inline-block;
  margin-right:10px;
}
.icon-list{
  margin-top:30px;
}

.about h3{
  margin-bottom:0px;
  font-size:16px;
  font-weight:bold;
}

.icon
{
  margin-top:0px;
  color:#b5b5b5;
}
.wd,.wdv,.md{
  margin-bottom:30px;
}

#margin{
  margin-top:17px;
}

.one
{
  background-color:#f5f5f5;
}

.two
{
  background-color:#f0f0f0;
}

.navbar-default
{
  margin-bottom:0px;
}

.about .col-md-4{
  height:400px;
}

